/* Couleur du fond*/

body {
  background-color: #389e62;
}

/* Instruction*/

#choixperso {
  font-family: Impact;
  color: white;
  text-align: center;
  font-size: 50px;
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
}

/* Choix des personnages*/

#perso {
  display: block;
  padding-top: 100px;
  padding-left: 100px;
}

.peperage {
  width: 15%;
  height: 15%;
  background-color: red;
}

.button{
  box-shadow  4px 4px rgba(0, 0, 0, 0.7):
}

/* Animation*/

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
