/* Fond*/

body {
  background-color: black;
  font-family: Impact;
  color: white;
  animation: fadeIn ease 2s;
  user-select:none;
}

body#PagePerso {
  background: url(img-css/background.gif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 35px;
}

/* Titre*/

.titre {
  text-align: center;
}

/* Description de la page menu (index)*/
#description {
  font-size: 20px;
  position: relative;
  max-width: 700px;
  margin: auto;
  line-height: 2em;
}

/* Personnages*/

#choixperso {
  font-family: Impact;
  color: white;
  text-align: center;
  font-size: 50px;
  animation: fadeIn ease 2s;
}

/* Choix des personnages*/

#peperage {
  float: left;
  padding-left: 100px;
  padding-top: 100px;
}

.peperage {
  border-radius: 25px;
  background: red;
  width: 250px;
  height: 250px;
}

.peperage:hover {
  animation: shake 0.0001s infinite;
}

#poggers {
  float: right;
  text-align: right;
  padding-right: 100px;
  padding-top: 100px;
}

.poggers {
  border-radius: 25px;
  background: blue;
  width: 250px;
  height: 250px;
}

.poggers:hover {
  animation: pog 0.01s infinite;
}

/* Bouton start*/

.start-button {
  max-width: 50%;
  max-height: 50%;
}
#start-button {
  margin: auto;
  text-align: center;
}

/*Espace de jeu*/

#game-space {
  margin: auto;
  border-style: solid;
  border-color: green;
  width: 1200px;
  height: 800px;
}

#bar {
  margin: auto;
  background-color: #F1F648;
  width: 1200x;
  height: 50px;
}

#game-title {
  font-size: 40px;
  max-width: 600px;
  text-transform: uppercase;
  text-shadow:2px 2px #000;
  float:left;
}

#main-button {
  position: relative;
  left: 350px;
  top: 300px;
  max-width: 100px;
  width: 100px;
  height: 100px;
}

#balance {
  font-size: 40px;
  text-shadow:2px 2px #000;
}

/* Animations*/

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes pog {
  100% {
    transform: scaleX(-1);
  }
}
